.container {
  width: 400px;
  height: 350px;
  border-radius: 6px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.73); 
}

.search{
  padding: 10px
}

.bg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}